*{
	
	box-sizing:border-box;
}

.cname{
	
	background-color:#fefefe;
	height:150px;
	text-align:center;
	font-size:50px;
	color:#040859;
	padding-top:48px;
    font-style: Bold;
	
}

.menu{
	background-color:black;
	height:50px;
	text-align:center;
	padding-top:15px;
	margin-top:3px;
}

.menu a{
	color:white;
	text-decoration:none;
	display:block;
	
}

.banner{
	background-image:url('../photos/Handshake.png');
	height:500px;
	margin-top:3px;
	background-repeat:no-repeat;
	background-size:cover;
	
	
}

.about{
	background-color:black;
	height:50px;
	color:white;
	text-align:center;
	padding-top:15px;
	margin-top:5px;
	box-shadow:0px 0px 5px #B2B1AF;
	
}

p{
	text-align:justify;
}

.section{
	
	background-color:black;
	color:white;
	text-align:center;
	padding-top:5px;
	margin-top:5px;
	box-shadow:0px 0px 5px #B2B1AF;
	
}

#two{
	text-align:center;
	height:50px;
	color:#040859;
}
h1,h2,h3{
	color:#040859;
	text-align:center;
}
.contact{
	margin-top:5px;
	
}
.one{
	position:relative;
    min-height: 5px;
	padding-top:20px;
	padding-bottom:20px;
    padding-right: 15px;
    padding-left: 15px;
	color:red;
	
}

.three{
	text-align:center;
	position:relative;
	background-color:#36c6f3;
	height:400px;
}

.fab{
	color:white;
	width:50px;
	height:30px;
	margin-top:15px;
	margin-bottom:15px;
	font-size:35px;
}


